@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');

body {
    font-size: 15pt;
    background-color: rgb(226 232 240);
}

#banner-2 {
  width: 100%;
}

.dealsHeading {
  font-family: "ubuntu";
}

.miniBox {
  min-width: 12.5%;
}

footer {
  background-color: rgb(203 213 225);
}

#searchBox {
  background-color: lightgrey;
  color: black;
  width: 100%;
  padding: 5px 10px;
}
#searchBox:hover {
  background-color: white;
}

nav li:hover {
  text-decoration: underline;
  font-weight: bold;
}

